= semantic_form_for(@equipment) do |f|
  = f.inputs :title => 'Equipment data' do
    = f.input :tag
    = f.input :ip_address
    = f.input :mac_address
    
  = f.buttons do
    = f.commit_button :label => 'Aceptar'

