= semantic_form_for(@user) do |f|
  = f.inputs :title => 'User data' do
    = f.input :username
    = f.input :name
    = f.input :surnames
    = f.input :email
    = f.input :role, :as => :radio
    = f.input :password
    = f.input :password_confirmation
    
  = f.buttons do
    = f.commit_button :label => 'Aceptar'

