- title "Usuarios"

.grid_24
  %table
    %tr
      %th Username
      %th#operaciones{:colspan => 3} Operaciones
      
    - for user in @users
      %tr
        %td= user.username
        %td= link_to "Show", user
        %td= link_to "Edit", edit_user_path(user)
        %td= link_to "Destroy", user, :confirm => 'Que te lo cargas!', :method => :delete, :title => "Delete #{user.username}"
.clear

.grid_12
  %nav#paginate
    = will_paginate
.grid_12
  %nav#actions
    %ul
      %li= link_to "Nuevo usuario", new_user_path
.clear
