- title "Usuario: #{@user.username}"

.grid_24
  %ul
    %li= "Username: #{@user.username}"
    %li= "e-mail: #{@user.email}"
.clear

.grid_24
  %nav#actions
    %ul
      %li= link_to "Edit", edit_user_path(@user)
      %li= link_to "Destroy", @user, :method => :delete, :confirm => 'Are you sure?', :title => "Delete #{@user.username}"
      %li= link_to "Back", users_path
.clear

