<%= form_for @workstation do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </p>
  
  <p>
    <%= f.label :ip_address %><br />
    <%= f.text_field :ip_address %>
  </p>
  
  <p>
    <%= f.label :mac_address %><br />
    <%= f.text_field :mac_address %>
  </p>
  <p><%= f.submit %></p>
<% end %>
