- title "Workstations"

.grid_24
  %table
    %tr
      %th Tag
      %th IP
      %th mac
      %th{:colspan => 3} Operaciones
      
    - for workstation in @workstations
      %tr
        %td= workstation.tag
        %td= workstation.ip_address
        %td= workstation.mac_address
        %td= link_to "Show", workstation
        %td= link_to "Edit", edit_workstation_path(workstation)
        %td= link_to "Destroy", workstation, :confirm => "De veras?", :method => :delete
.clear

.grid_12
  %nav#paginate
    = will_paginate
.grid_12
  %nav#actions
    %ul
      %li= link_to "New workstation", new_workstation_path
.clear
