- title "Workstations"

.grid_24
  %table
    %tr
      %th Tag
      %th IP
      %th mac
      
    - for workstation in @workstations
      %tr
        %td= link_to workstation.tag, workstation
        %td= workstation.ip_address
        %td= workstation.mac_address
.clear

.grid_12
  %nav#paginate
    = will_paginate
.grid_12
  %nav#actions
    %ul
      %li= link_to "New workstation", new_workstation_path
.clear
