<% title "Workstation: #{@workstation.tag}" %>

<p>ip: <%= @workstation.ip_address %></p>
<p>mac: <%= @workstation.mac_address %></p>

<p>
  <%= link_to "Edit", edit_workstation_path(@workstation) %> |
  <%= link_to "Destroy", @workstation, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", workstations_path %>
</p>
