- title "Workstation: #{@workstation.tag}"

.grid_24
  %ul
    %li= "IP: #{@workstation.ip_address}"
    %li= "mac: #{@workstation.mac_address}"
    %li= "Estado #{@workstation.online? ? 'ON' : 'OFF'}"
.clear

.grid_24
  %nav#actions
    %ul
      %li= link_to "Edit", edit_workstation_path(@workstation)
      %li= link_to "Destroy", @workstation, :confirm => 'De veras?', :method => :delete
      %li= link_to "Back", workstations_path
.clear
