<header>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Workstations", workstations_path %></li>
    </ul>
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>.
      <%= link_to "Sign out", destroy_user_session_path %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </nav>
</header>
